<header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;margin-left: 20px;"   class="fa-solid fa-book">&nbsp;
                
            </i>
            <strong style="font-size: 30px ;">BookstorE</strong>
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="Search books">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button routerLink="cart"  class="btn btn-success">
            <i style="font-size: 30px; ;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;;"  class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>
